.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.main {
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  align-items: center;
  justify-content: space-between;
}
.usercard {
  background: #eadada;
  padding: 5%;
  border-radius: 10px;
}
.cardimg {
  object-fit: cover;
}
.navtext {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #2a2b5f;
}
.btns {
  background-color: #2a2b5f !important;
  color: white;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-radius: 20px !important;
  outline: none !important;
  border: none !important;
  font-size: 20px !important;
  margin-top: 10px;
  width: 15%;
}
.btns:hover {
  box-shadow: none;
  color: white;
}
.btns:active {
  box-shadow: none;
  color: white;
}
.btns:focus {
  box-shadow: none;
  color: white;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
